@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
}

h2{
	font-size: 28px;
}
/* CSS HEADER */

.header .menu{
	background-color: white;
}
.menu #logo{
    width: 180px;
    height: 80px;
}

.menu .container-fluid{
	background-color: white;
	padding: 10px 10px;
	margin: -10px 0px;
}

.menu .nav-item a{
	color: #181819; 
	font-weight: bold;
	font-size: 16px;
}

.menu .nav-item a:hover{
	color: #6d3f19;
	border-bottom: 2px solid #6d3f19;
}

.menu .header-navbar-search:hover{
	border: 3px solid #6d3f19;
}

.menu .header-navbar .zmdi{
	margin-left: 30px;
	font-size: 32px;
	color: #181819;
}

.menu .header-navbar .zmdi:hover{
	color: #6d3f19;
}

/* CSS CONTAINER */

.container-fruid{
	padding: 50px;
}

.content_2_right {
    padding: 20px;
    border: 1px solid #e8e6e3;
    height: 430px;
}

.content_2_right ul{
    list-style: none;
    line-height: 35px;
}

.content_2_right li{
    padding-bottom: 15px;
    
}

.content_2_right h2{
    text-align: center;
    background-color:  #e8e6e3;
    margin: 0px 5px;
}

.content_2_right a{
	text-decoration: none;
	color: #337ab7;
}

.content_2_right a:hover{
    color: #e8e6e3;
}

button{
	border: 1px solid #0c0c0c; 
	height: 40px;
}

.content_3{
    padding-bottom: 30px;
    padding-top: 30px;
}
.content_4 {
    padding-bottom: 30px;
}

.content_5 {
    padding-bottom: 30px;
}

/* CSS FOOTER */

.footer{
	padding: 20px;
	background-color: #e8e6e3;
	padding: 20px 0px 20px 30px;
	margin-top: 80px;
}

.footer-left{
	overflow: hidden;
}

.footer-right {
	margin: 0px;
	padding: 0px;
	border: 1px #9fa7ab;
}

.zmdi-facebook-box{
    margin-right: 10px;
    color: #1298f6;
}

.zmdi-instagram{
	color: #febf01;
}

.footer-right-service{
	padding-left: 70px;
}

.footer-right h3{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: -5px;
}

.footer-right h3 span{
	font-weight: 400px;
}

.footer-right ul{
	list-style-type: none;
	padding: 0px;
	font-size: 14px;
	margin-top: 10px;
}

.footer-right a{
	text-decoration: none;
	color: #181819;
}

.footer a:hover{
	color: #6d3f19;
    position: relative;
    left: 20px;
	font-weight: bold;
}

.footer #logo{
	width: 100px;
	height: auto;
}

.footer p{
	font-size: 15px;
	margin-top: 10px;
}

.footer #logo-bo-cong-thuong{
	width: 100px;
	height: auto;
}

.footer #logo{
	width: 180px;
    height: 80px;
}

.footer-right .zmdi{
    margin-right: 10px;
    font-size: 15px;
}
